Repository JosBritton/cd: changes, and which pre-commit hooks are due for each by the changed paths.
All: render-charts, build-kustomizations, validate-manifests

.pre-commit-config.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
# yamllint disable rule:quoted-strings
default_stages: [pre-commit, pre-push]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: requirements-txt-fixer
  - id: trailing-whitespace
    exclude: "/resources/upstream\\.ya?ml$"

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    args: [--strict]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args: [--severity=error]
    exclude: ^.git
    files: "\\.sh$"

- repo: local
  hooks:
  - id: make-build
    name: make build
    language: system
    entry: make build
    stages: [pre-commit]

  - id: render-charts
    name: render helm charts
    language: script
    entry: tests/render-charts.sh
    pass_filenames: true
    files: "/upstream/Chart\\.ya?ml$"
    stages: [pre-commit]

  - id: build-kustomizations
    name: build kustomization files
    language: script
    entry: tests/build-kustomizations.sh
    pass_filenames: true
    files: "kustomization\\.yaml$"
    stages: [pre-commit]

  - id: validate-manifests
    name: validate kubernetes manifests
    language: script
    entry: tests/validate-manifests.sh
    pass_filenames: true
    files: "(apps|defs|bootstrap)/.+\\.ya?ml$"
    stages: [pre-commit]

# - id: prepush
#   name: pre-push actions
#   language: system
#   entry: make prepush
#   stages: [pre-push]

Add first-party ceph dashboards to grafana
  apps/prometheus/kustomization.yaml
Due: build-kustomizations, validate-manifests

Add music video library mount to plex
  apps/plex/statefulset.yaml
Due: validate-manifests

Update helm version in renovate entrypoint to v4 and pin version
  .github/renovate/entrypoint.sh
Due: none

Update helm version in renovate entrypoint to v4 and pin version See regression in 4.2.0: github.com/helm/helm/issues/32163
  .github/renovate/entrypoint.sh
Due: none

Update navidrome to 0.61.2
  apps/navidrome/resources/navidrome.toml
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Use client id for creating tokens on renovate workflow
  .github/workflows/renovate.yaml
Due: none

Update renovate image in workflow
  .github/workflows/dashboard.yaml
  .github/workflows/renovate.yaml
Due: none

Update renovate config to use managerFilePatterns matching
  .github/renovate.json5
Due: none

Add a custom renovate manager for workflow version annotations
  .github/renovate.json5
Due: none

Do not pin renovate updates
  .github/renovate.json5
Due: none

Update reloader image to match chart
  apps/reloader/overlays/image.yaml
Due: validate-manifests

Restructure reloader image patch for renovate processing
  .github/renovate.json5
  apps/reloader/kustomization.yaml
  apps/reloader/overlays/image.yaml
Due: build-kustomizations, validate-manifests

Pin gitea image via image patch allowing for renovate processing
  apps/gitea/README.md
  apps/gitea/kustomization.yaml
  apps/gitea/overlays/gitea-init.yaml
  apps/gitea/overlays/gitea-inline-config.yaml
  apps/gitea/overlays/gitea.yaml
  apps/gitea/overlays/image.yaml
  apps/gitea/resources/upstream.yaml
  apps/gitea/upstream/values.yaml
Due: build-kustomizations, validate-manifests

Pin gitea image via image patch allowing for renovate processing
  .github/renovate.json5
  apps/gitea/README.md
  apps/gitea/kustomization.yaml
  apps/gitea/overlays/gitea-init.yaml
  apps/gitea/overlays/gitea-inline-config.yaml
  apps/gitea/overlays/gitea.yaml
  apps/gitea/overlays/image.yaml
  apps/gitea/resources/upstream.yaml
  apps/gitea/upstream/values.yaml
Due: build-kustomizations, validate-manifests

Use semver tag for qui image
  apps/qui/statefulset.yaml
Due: validate-manifests

Adjust renovate entrypoint for helm version tracking
  .github/renovate.json5
  .github/renovate/entrypoint
  .github/renovate/entrypoint.sh
  .github/workflows/renovate.yaml
Due: none

Disable minimumReleaseAge for GHCR images This renovate feature is blocked until GHCR supports timestamps
  .github/renovate.json5
Due: none

Apply formatter to renovate configuration
  .github/renovate.json5
Due: none

Fix k8s image repository perpetually failing cooldown checks
  .github/renovate.json5
Due: none

Update navidrome config for 0.62
  apps/navidrome/resources/navidrome.toml
Due: none

Add rss reader with miniflux
  apps/rss/README.md
  apps/rss/kustomization.yaml
  apps/rss/resources/cert.yaml
  apps/rss/resources/delegation.yaml
  apps/rss/resources/deployment.yaml
  apps/rss/resources/httpproxy.yaml
  apps/rss/resources/service.yaml
  defs/rss.yaml
Due: build-kustomizations, validate-manifests

Add rss-bridge
  apps/rss/kustomization.yaml
  apps/rss/resources/rss-bridge-service.yaml
  apps/rss/resources/rss-bridge-statefulset.yaml
Due: build-kustomizations, validate-manifests

Use application child health for parent health
  bootstrap/argo-cd/kustomization.yaml
Due: build-kustomizations, validate-manifests

Adopt new project-contour helm chart repository
  apps/contour/resources/upstream.yaml
  apps/contour/upstream/Chart.yaml
Due: render-charts, validate-manifests

Disable navidrome image caching
  apps/navidrome/resources/navidrome.toml
Due: none

Set strict disc art priority in navidrome
  apps/navidrome/resources/navidrome.toml
Due: none

Use server-side apply on argo cd for navidrome statefulset
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Use emptydir for cache volume in navidrome
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Disable navidrome webp encoding
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Revert "Disable navidrome image caching"
  apps/navidrome/resources/navidrome.toml
Due: none

Manage postgres image version with renovate
  .github/renovate.json5
  apps/cloudnative-pg/kustomization.yaml
  apps/cloudnative-pg/resources/pgcluster.yaml
Due: build-kustomizations, validate-manifests

Revert "Manage postgres image version with renovate"
  .github/renovate.json5
  apps/cloudnative-pg/kustomization.yaml
  apps/cloudnative-pg/resources/cluster16.yaml
Due: build-kustomizations, validate-manifests
