Repository JosBritton/cd: changes, and which pre-commit hooks are due for each by the changed paths.
All: render-charts, build-kustomizations, validate-manifests

render-charts:
  name: render helm charts
  language: script
  entry: tests/render-charts.sh
  pass_filenames: true
  stages:
  - pre-commit

build-kustomizations:
  name: build kustomization files
  language: script
  entry: tests/build-kustomizations.sh
  pass_filenames: true
  stages:
  - pre-commit

validate-manifests:
  name: validate kubernetes manifests
  language: script
  entry: tests/validate-manifests.sh
  pass_filenames: true
  stages:
  - pre-commit

Add wikimore and general mirror manifest
  apps/mirror/cert.yaml
  apps/mirror/delegation.yaml
  apps/mirror/httpproxy.yaml
  apps/wikimore/deployment.yaml
  apps/wikimore/service.yaml
  defs/mirror.yaml
  defs/wikimore.yaml
Due: validate-manifests

Remove wikimore, retaining mirror system
  apps/mirror/httpproxy.yaml
  apps/wikimore/deployment.yaml
  apps/wikimore/service.yaml
  defs/wikimore.yaml
Due: validate-manifests

Migrate and update all onedr0p image urls from new organization Additionally, use version numbering for Plex images rather than tracking the rolling release.
  apps/plex/resources/statefulset.yaml
  apps/prowlarr/statefulset.yaml
  apps/radarr/statefulset.yaml
  apps/sonarr/statefulset.yaml
Due: validate-manifests

Specify specific image release version tag for home assistant
  apps/home-assistant/statefulset.yaml
Due: validate-manifests

Ensure Chart.lock is not a symlink prior to updating dependencies Some hardening related to CVE-2025-53547. Not explicitly necessary now that it's patched, but it doesn't hurt.
  Makefile
  tests/render-charts.sh
Due: none

Ensure python venv is activated before running pre-commit scripts
  Makefile
Due: none

Quote arg expansion in parallel test scripts to prevent glob & splitting
  tests/build-kustomizations.sh
  tests/render-charts.sh
Due: none

Remove alternate makefile targets for specific pre-commit hooks These targets are rarely used and clutter the makefile.
  Makefile
Due: none

Add 'test' alias for 'validate' target
  Makefile
Due: none

Substantially increase CPU resources for tdarr server nodes
  apps/tdarr/statefulset.yaml
Due: validate-manifests

Add metrics-server
  apps/metrics-server/BUILDARGS
  apps/metrics-server/kustomization.yaml
  apps/metrics-server/resources/upstream.yaml
  apps/metrics-server/upstream/.gitignore
  apps/metrics-server/upstream/Chart.yaml
  apps/metrics-server/upstream/values.yaml
  defs/metrics-server.yaml
Due: render-charts, build-kustomizations, validate-manifests

Correct typo in influxdb BUILDARGS file
  apps/influxdb/BUILDARGS
Due: none

Increase memory resources for tdarr server
  apps/tdarr/statefulset.yaml
Due: validate-manifests

Fix constant, reckless disk thrashing from tdarr server
  apps/tdarr/statefulset.yaml
Due: validate-manifests

Add custom dashboard
  apps/prometheus/files/overview-dashboard.json
  apps/prometheus/kustomization.yaml
Due: build-kustomizations, validate-manifests

Add panel showing a table of alerts
  apps/prometheus/files/overview-dashboard.json
Due: none

Use data links
  apps/prometheus/files/overview-dashboard.json
Due: none

Rename fields
  apps/prometheus/files/overview-dashboard.json
Due: none

Enlarge table
  apps/prometheus/files/overview-dashboard.json
Due: none

Resizing
  apps/prometheus/files/overview-dashboard.json
Due: none

Disable 'Refresh live dashboards'
  apps/prometheus/files/proxmox-cluster-dashboard.json
Due: none

Apply soft-max
  apps/prometheus/files/overview-dashboard.json
Due: none

Fix non-explicit namespace in tdarr DaemonSet
  apps/tdarr/daemonset.yaml
Due: validate-manifests

Create cronjob to periodically restart/reschedule tdarr server
  apps/tdarr/cronjob.yaml
  apps/tdarr/rbac.yaml
Due: validate-manifests

Prevent scheduling of tdarr workers on nodes with tdarr server Uses runtime node labeling via an init-container on the tdarr server statefulset.
  apps/tdarr/daemonset.yaml
  apps/tdarr/rbac.yaml
  apps/tdarr/statefulset.yaml
Due: validate-manifests

Adjust tdarr worker resources commensurate with anti-affinity rules
  apps/tdarr/daemonset.yaml
Due: validate-manifests

Remove flaresolverr See flaresolverr issue 1253
  apps/flaresolverr/deployment.yaml
  apps/flaresolverr/service.yaml
  apps/flaresolverr/servicemonitor.yaml
  defs/flaresolverr.yaml
Due: validate-manifests

Transition from HA argocd to normal installation Part one of planned argocd overhaul
  bootstrap/argo-cd/kustomization.yaml
  bootstrap/install/kustomization.yaml
Due: build-kustomizations, validate-manifests

Update overview dashboard No longer tracking version
  apps/prometheus/files/overview-dashboard.json
Due: none

Add some scripts
  scripts/apply-tdarr-sts
  scripts/delete-tdarr-ds
  scripts/delete-tdarr-workloads
Due: none

Fix new metric name for temperature
  apps/prometheus/files/airgradient-dashboard.json
Due: none

Update overview dashboard
  apps/prometheus/files/overview-dashboard.json
Due: none

Update dashboard
  apps/prometheus/files/overview-dashboard.json
Due: none

Add mappings
  apps/prometheus/files/overview-dashboard.json
Due: none

Path conditions:
  render-charts: any of: /upstream/Chart\.ya?ml$
  build-kustomizations: any of: kustomization\.yaml$
  validate-manifests: any of: (apps|defs|bootstrap)/.+\.ya?ml$
