Repository JosBritton/cd: changes, and which pre-commit hooks are due for each by the changed paths.
All: render-charts, build-kustomizations, validate-manifests

.pre-commit-config.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
# yamllint disable rule:quoted-strings
default_stages: [pre-commit, pre-push]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: requirements-txt-fixer
  - id: trailing-whitespace
    exclude: "/resources/upstream\\.ya?ml$"

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.0
  hooks:
  - id: yamllint
    args: [--strict]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args: [--severity=error]
    exclude: ^.git
    files: "\\.sh$"

- repo: local
  hooks:
  - id: make-build
    name: make build
    language: system
    entry: make build
    stages: [pre-commit]

  - id: render-charts
    name: render helm charts
    language: script
    entry: tests/render-charts.sh
    pass_filenames: true
    files: "/upstream/Chart\\.ya?ml$"
    stages: [pre-commit]

  - id: build-kustomizations
    name: build kustomization files
    language: script
    entry: tests/build-kustomizations.sh
    pass_filenames: true
    files: "kustomization\\.yaml$"
    stages: [pre-commit]

  - id: validate-manifests
    name: validate kubernetes manifests
    language: script
    entry: tests/validate-manifests.sh
    pass_filenames: true
    files: "(apps|defs|bootstrap)/.+\\.ya?ml$"
    stages: [pre-commit]

# - id: prepush
#   name: pre-push actions
#   language: system
#   entry: make prepush
#   stages: [pre-push]

Hide legends
  apps/prometheus/files/overview-dashboard.json
Due: none

Resize
  apps/prometheus/files/overview-dashboard.json
Due: none

Set root_url in Grafana for link generation
  apps/prometheus/overlays/prometheus-operator-grafana-cm.yaml
Due: validate-manifests

Reconfigure dashboard
  apps/prometheus/files/overview-dashboard.json
Due: none

Set temp range
  apps/prometheus/files/overview-dashboard.json
Due: none

Dashboard
  apps/prometheus/files/overview-dashboard.json
Due: none

Update dashboard
  apps/prometheus/files/overview-dashboard.json
Due: none

Update airgradient dashboard
  apps/prometheus/files/airgradient-dashboard.json
Due: none

Add data links
  apps/prometheus/files/overview-dashboard.json
Due: none

Remove co2 panel from overview
  apps/prometheus/files/overview-dashboard.json
Due: none

Update data link
  apps/prometheus/files/overview-dashboard.json
Due: none

Styling for airgradient
  apps/prometheus/files/airgradient-dashboard.json
Due: none

Update airgradient
  apps/prometheus/files/airgradient-dashboard.json
Due: none

Update overview
  apps/prometheus/files/overview-dashboard.json
Due: none

Update overview dashboard
  apps/prometheus/files/overview-dashboard.json
Due: none

Update dashboards
  apps/prometheus/files/airgradient-dashboard.json
  apps/prometheus/files/overview-dashboard.json
Due: none

Allow grafana websocket connections
  apps/prometheus/resources/httpproxy.yaml
Due: validate-manifests

Configure cert-manager scraping via a ServiceMonitor
  apps/cert-manager/resources/upstream.yaml
  apps/cert-manager/upstream/values.yaml
Due: validate-manifests

Add special mount for plex libraries
  apps/plex/resources/statefulset.yaml
Due: validate-manifests

Track cilium
  apps/cilium/BUILDARGS
  apps/cilium/kustomization.yaml
  apps/cilium/resources/upstream.yaml
  apps/cilium/upstream/.gitignore
  apps/cilium/upstream/Chart.yaml
  apps/cilium/upstream/values.yaml
  defs/cilium.yaml
Due: render-charts, build-kustomizations, validate-manifests

Remove superfluous jellyfin server url environment var
  apps/jellyfin/statefulset.yaml
Due: validate-manifests

Drop 'music' alternate host for jellyfin
  apps/jellyfin/cert.yaml
  apps/jellyfin/httpproxy.yaml
Due: validate-manifests

Use replica agnostic jellyfin statefulset manifest
  apps/jellyfin/service.yaml
  apps/jellyfin/statefulset.yaml
Due: validate-manifests

Add navidrome
  apps/navidrome/cert.yaml
  apps/navidrome/delegation.yaml
  apps/navidrome/httpproxy.yaml
  apps/navidrome/service.yaml
  apps/navidrome/statefulset.yaml
  defs/navidrome.yaml
Due: validate-manifests

Configure navidrome ArtistArtPriority using Jellyfin convention
  apps/navidrome/statefulset.yaml
Due: validate-manifests

Move navidrome to kustomization format
  apps/navidrome/kustomization.yaml
  apps/navidrome/resources/cert.yaml
  apps/navidrome/resources/delegation.yaml
  apps/navidrome/resources/httpproxy.yaml
  apps/navidrome/resources/service.yaml
  apps/navidrome/resources/statefulset.yaml
Due: build-kustomizations, validate-manifests

Add navidrome configuration file
  apps/navidrome/kustomization.yaml
  apps/navidrome/resources/navidrome.toml
  apps/navidrome/resources/statefulset.yaml
Due: build-kustomizations, validate-manifests

Set lastfm API details via env vars in navidrome
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Apply minor navidrome security considerations
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Set spotify API details via env vars in navidrome
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Add navidrome database backup configuration
  apps/navidrome/resources/navidrome.toml
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Stick to double quotes in toml files
  apps/navidrome/resources/navidrome.toml
Due: none

Move some env vars to the config file in navidrome
  apps/navidrome/resources/navidrome.toml
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Add reloader annotation to navidrome workload to automate config changes
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Disable auto playlist import from m3u files in navidrome
  apps/navidrome/resources/navidrome.toml
Due: none
