Repository JosBritton/cd: changes, and which pre-commit hooks are due for each by the changed paths.
All: render-charts, build-kustomizations, validate-manifests

render-charts:
  name: render helm charts
  language: script
  entry: tests/render-charts.sh
  pass_filenames: true
  stages:
  - pre-commit

build-kustomizations:
  name: build kustomization files
  language: script
  entry: tests/build-kustomizations.sh
  pass_filenames: true
  stages:
  - pre-commit

validate-manifests:
  name: validate kubernetes manifests
  language: script
  entry: tests/validate-manifests.sh
  pass_filenames: true
  stages:
  - pre-commit

Group CSI updates together
  .github/renovate.json5
Due: none

Add home-assistant
  apps/home-assistant/cert.yaml
  apps/home-assistant/delegation.yaml
  apps/home-assistant/httpproxy.yaml
  apps/home-assistant/service.yaml
  apps/home-assistant/statefulset.yaml
  defs/home-assistant.yaml
Due: validate-manifests

Remove delete canceled runs action from renovate workflow
  .github/workflows/renovate.yaml
Due: none

Do not expose envoy server header from contour proxy
  apps/contour/resources/upstream.yaml
  apps/contour/upstream/values.yaml
Due: validate-manifests

Enable websockets in the jellyfin proxy
  apps/jellyfin/httpproxy.yaml
Due: validate-manifests

Add git-server deployment
  apps/git-server/service.yaml
  apps/git-server/statefulset.yaml
  defs/git-server.yaml
Due: validate-manifests

Add probes for jellyfin
  apps/jellyfin/statefulset.yaml
Due: validate-manifests

Link ffmpeg to /usr/bin in tdarr daemonset
  apps/tdarr/daemonset.yaml
Due: validate-manifests

Aggressively adjust cpu throttling for tdarr daemonset
  apps/tdarr/daemonset.yaml
Due: validate-manifests

Disable comment indentation checks in yamllint for sanity
  .yamllint
Due: none

Add cloudnative-pg
  apps/cloudnative-pg/BUILDARGS
  apps/cloudnative-pg/kustomization.yaml
  apps/cloudnative-pg/resources/cluster16.yaml
  apps/cloudnative-pg/resources/prometheusrule.yaml
  apps/cloudnative-pg/resources/service.yaml
  apps/cloudnative-pg/resources/upstream.yaml
  apps/cloudnative-pg/upstream/.gitignore
  apps/cloudnative-pg/upstream/Chart.yaml
  apps/cloudnative-pg/upstream/values.yaml
  defs/cloudnative-pg.yaml
Due: render-charts, build-kustomizations, validate-manifests

Add valkey
  apps/valkey/BUILDARGS
  apps/valkey/kustomization.yaml
  apps/valkey/resources/upstream.yaml
  apps/valkey/upstream/.gitignore
  apps/valkey/upstream/Chart.yaml
  apps/valkey/upstream/values.yaml
  defs/valkey.yaml
Due: render-charts, build-kustomizations, validate-manifests

Add gitea
  apps/gitea/BUILDARGS
  apps/gitea/kustomization.yaml
  apps/gitea/overlays/gitea-init.yaml
  apps/gitea/overlays/gitea-inline-config.yaml
  apps/gitea/overlays/gitea.yaml
  apps/gitea/resources/upstream.yaml
  apps/gitea/upstream/.gitignore
  apps/gitea/upstream/Chart.yaml
  apps/gitea/upstream/values.yaml
  defs/gitea.yaml
Due: render-charts, build-kustomizations, validate-manifests

Define valkey replica count
  apps/valkey/resources/upstream.yaml
  apps/valkey/upstream/values.yaml
Due: validate-manifests

Set rolling update strategy for contour daemonset
  apps/contour/kustomization.yaml
Due: build-kustomizations, validate-manifests

Set rolling update strategy for argo-cd ha-proxy statefulset
  bootstrap/argo-cd/kustomization.yaml
Due: build-kustomizations, validate-manifests

Revert "Add git-server deployment"
  apps/git-server/service.yaml
  apps/git-server/statefulset.yaml
  defs/git-server.yaml
Due: validate-manifests

Fix empty target port in gitea upstream
  apps/gitea/resources/upstream.yaml
  apps/gitea/upstream/values.yaml
Due: validate-manifests

Ignore preserveUnknownFields in contour CRDs
  defs/contour.yaml
Due: validate-manifests

Add gitea http ingress
  apps/gitea/kustomization.yaml
  apps/gitea/resources/cert.yaml
  apps/gitea/resources/delegation.yaml
  apps/gitea/resources/httpproxy.yaml
Due: build-kustomizations, validate-manifests

Add ssh nodePort for gitea ssh service
  apps/gitea/resources/upstream.yaml
  apps/gitea/upstream/values.yaml
Due: validate-manifests

Enable prometheus metrics for gitea
  apps/gitea/resources/upstream.yaml
  apps/gitea/upstream/values.yaml
Due: validate-manifests

Recreate pods as we don't have rwx yet
  apps/gitea/resources/upstream.yaml
  apps/gitea/upstream/values.yaml
Due: validate-manifests

Tag gitea image for renovate
  apps/gitea/resources/upstream.yaml
  apps/gitea/upstream/values.yaml
Due: validate-manifests

Limit revision history on gitea deployment
  apps/gitea/kustomization.yaml
Due: build-kustomizations, validate-manifests

Use prefix matching on gitea httpproxy
  apps/gitea/resources/httpproxy.yaml
Due: validate-manifests

Revert "feat(helm)!: Update chart contour to 20.0.3"
  apps/contour/resources/upstream.yaml
  apps/contour/upstream/Chart.yaml
Due: render-charts, validate-manifests

Revert "Ignore preserveUnknownFields in contour CRDs"
  defs/contour.yaml
Due: validate-manifests

Create robots.txt for gitea
  apps/gitea/kustomization.yaml
  apps/gitea/resources/robots.txt
Due: build-kustomizations, validate-manifests

Add readiness probe for home assistant
  apps/home-assistant/statefulset.yaml
Due: validate-manifests

Remove null plex entry
  apps/plex/resources/statefulset.yaml
Due: validate-manifests

Set revision history limit across statefulsets
  apps/home-assistant/statefulset.yaml
  apps/jellyfin/statefulset.yaml
  apps/plex/resources/statefulset.yaml
  apps/prowlarr/statefulset.yaml
  apps/radarr/statefulset.yaml
  apps/sonarr/statefulset.yaml
  apps/tdarr/statefulset.yaml
  apps/vaultwarden/statefulset.yaml
Due: validate-manifests

Increase memory limit for contour envoy
  apps/contour/resources/upstream.yaml
  apps/contour/upstream/values.yaml
Due: validate-manifests

Reapply "feat(helm)!: Update chart contour to 20.0.3"
  apps/contour/resources/upstream.yaml
  apps/contour/upstream/Chart.yaml
Due: render-charts, validate-manifests

Reapply "Ignore preserveUnknownFields in contour CRDs"
  defs/contour.yaml
Due: validate-manifests

Further increase resource limits for contour deployment
  apps/contour/resources/upstream.yaml
  apps/contour/upstream/values.yaml
Due: validate-manifests

Update valkey with upstream
  apps/valkey/resources/upstream.yaml
Due: validate-manifests

Path conditions:
  render-charts: any of: /upstream/Chart\.ya?ml$
  build-kustomizations: any of: kustomization\.yaml$
  validate-manifests: any of: (apps|defs|bootstrap)/.+\.ya?ml$
