Repository JosBritton/cd: changes, and which pre-commit hooks are due for each by the changed paths.
All: render-charts, build-kustomizations, validate-manifests

render-charts:
  name: render helm charts
  language: script
  entry: tests/render-charts.sh
  pass_filenames: true
  stages:
  - pre-commit

build-kustomizations:
  name: build kustomization files
  language: script
  entry: tests/build-kustomizations.sh
  pass_filenames: true
  stages:
  - pre-commit

validate-manifests:
  name: validate kubernetes manifests
  language: script
  entry: tests/validate-manifests.sh
  pass_filenames: true
  stages:
  - pre-commit

Increase rustfs log pvc allocation
  apps/rustfs/resources/upstream.yaml
  apps/rustfs/upstream/values.yaml
Due: validate-manifests

Adjust resource allocations for tautulli
  apps/tautulli/statefulset.yaml
Due: validate-manifests

Remove cpu limits
  apps/contour/resources/upstream.yaml
  apps/contour/upstream/values.yaml
  apps/metrics-server/upstream/values.yaml
  apps/plex/statefulset.yaml
  apps/prowlarr/statefulset.yaml
  apps/radarr/statefulset.yaml
  apps/reloader/kustomization.yaml
  apps/sonarr/statefulset.yaml
  apps/tautulli/statefulset.yaml
  apps/tdarr/statefulset.yaml
  apps/vaultwarden/statefulset.yaml
Due: build-kustomizations, validate-manifests

Revert "Remove influxdb"
  apps/influxdb/BUILDARGS
  apps/influxdb/README.md
  apps/influxdb/kustomization.yaml
  apps/influxdb/resources/cert.yaml
  apps/influxdb/resources/delegation.yaml
  apps/influxdb/resources/httpproxy.yaml
  apps/influxdb/resources/upstream.yaml
  apps/influxdb/upstream/.gitignore
  apps/influxdb/upstream/Chart.yaml
  apps/influxdb/upstream/values.yaml
  defs/influxdb.yaml
Due: render-charts, build-kustomizations, validate-manifests

Configure renovate to ignore self-hosted container image updates
  .github/renovate.json5
Due: none

Remove rustfs
  apps/rustfs/BUILDARGS
  apps/rustfs/kustomization.yaml
  apps/rustfs/resources/certificate.yaml
  apps/rustfs/resources/delegation.yaml
  apps/rustfs/resources/httpproxy.yaml
  apps/rustfs/resources/upstream.yaml
  apps/rustfs/upstream/.gitignore
  apps/rustfs/upstream/Chart.yaml
  apps/rustfs/upstream/values.yaml
  defs/rustfs.yaml
Due: render-charts, build-kustomizations, validate-manifests

Set explicit .spec.suspend value for cron jobs
  apps/ddns/cron.yaml
  apps/tdarr/cronjob.yaml
Due: validate-manifests

Use official kubectl image where a full shell is not needed
  apps/tdarr/cronjob.yaml
Due: validate-manifests

Update bitnami/kubectl - now using latest tag The image is no longer available with a versioned tag, only a rolling tag.
  apps/tdarr/statefulset.yaml
Due: validate-manifests

Add prometheus recording rules to precompute expensive queries
  .pre-commit-config.yaml
  apps/prometheus/kustomization.yaml
  apps/prometheus/resources/prometheusrule.yaml
  tests/validate-prometheus-rules.sh
Due: build-kustomizations, validate-manifests

Add namespace:container_memory_working_set_bytes:sum
  apps/prometheus/resources/prometheusrule.yaml
Due: validate-manifests

Add per namespace disk activity rate record rules
  apps/prometheus/resources/prometheusrule.yaml
Due: validate-manifests

Add record rules for etcd disk sync duration metrics
  apps/prometheus/resources/prometheusrule.yaml
Due: validate-manifests

Add 1m irate disk activity record rule variants
  apps/prometheus/resources/prometheusrule.yaml
Due: validate-manifests

Remove scripts
  scripts/apply-tdarr-sts
  scripts/delete-tdarr-ds
  scripts/delete-tdarr-workloads
Due: none

Revert "fix(container): update image quay.io/cephcsi/cephcsi to v3.16.2"
  apps/ceph-csi-rbd/resources/upstream.yaml
  apps/ceph-csi-rbd/upstream/values.yaml
Due: validate-manifests

Revert "feat(container): update image registry.k8s.io/sig-storage/csi-provisioner to v6.2.0"
  apps/ceph-csi-rbd/resources/upstream.yaml
  apps/ceph-csi-rbd/upstream/values.yaml
Due: validate-manifests

Allow ceph-csi chart to manage image tags
  apps/ceph-csi-rbd/resources/upstream.yaml
  apps/ceph-csi-rbd/upstream/values.yaml
Due: validate-manifests

Revert "feat(container): update image registry.k8s.io/kubectl to v1.35.3"
  apps/tdarr/cronjob.yaml
Due: validate-manifests

Fix tdarr-nanny cron
  apps/tdarr/cronjob.yaml
Due: validate-manifests

Fix command in tdarr-nanny cronjob
  apps/tdarr/cron.yaml
Due: validate-manifests

Prevent generation of grafana credential secret and unneeded patch
  apps/prometheus/kustomization.yaml
  apps/prometheus/overlays/prometheus-operator-grafana-secret.yaml
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: build-kustomizations, validate-manifests

Set well-known external prometheus label: cluster
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Add a full rebuild pre-push hook to enforce immutable template renders
  .pre-commit-config.yaml
Due: none

Add preliminary graphite exporter configs
  apps/prometheus/files/graphite_mapping.conf
  apps/prometheus/kustomization.yaml
  apps/prometheus/resources/graphite-exporter-deployment.yaml
  apps/prometheus/resources/graphite-svc-mon.yaml
  apps/prometheus/resources/graphite-svc.yaml
Due: build-kustomizations, validate-manifests

Improve truenas graphite mapping
  apps/prometheus/files/graphite_mapping.conf
Due: none

Add scrape config for netdata endpoint on truenas
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Add separate average and sum scraper for netdata metrics
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Add as-collected (raw) metric scraping target for netdata
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Add help parameter for comments on as-collected metrics
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Enable public preview new dashboard layouts for grafana
  apps/prometheus/overlays/prometheus-operator-grafana-cm.yaml
Due: validate-manifests

Enable experimental promql functions
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Apply the outdented operator style for prometheus recording rules
  apps/prometheus/resources/prometheusrule.yaml
Due: validate-manifests

Add disk space recording rule for artemis
  apps/prometheus/resources/prometheusrule.yaml
Due: validate-manifests

Enable sql expression preview feature for grafana
  apps/prometheus/overlays/prometheus-operator-grafana-cm.yaml
Due: validate-manifests

Use default truenas netdata scrape port
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Enable type metadata at netdata metric endpoints using url parameter
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Honor labels from netdata endpoints
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Add prometheus proxy for debugging and testing
  apps/prometheus/kustomization.yaml
  apps/prometheus/resources/delegation.yaml
  apps/prometheus/resources/prometheus-cert.yaml
  apps/prometheus/resources/prometheus-httpproxy.yaml
Due: build-kustomizations, validate-manifests

Disable idle timeout for prometheus sse endpoint
  apps/prometheus/resources/prometheus-httpproxy.yaml
Due: validate-manifests

Path conditions:
  render-charts: any of: /upstream/Chart\.ya?ml$
  build-kustomizations: any of: kustomization\.yaml$
  validate-manifests: any of: (apps|defs|bootstrap)/.+\.ya?ml$
