Repository JosBritton/cd: changes, and which pre-commit hooks are due for each by the changed paths.
All: render-charts, build-kustomizations, validate-manifests

.pre-commit-config.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
# yamllint disable rule:quoted-strings
default_stages: [pre-commit, pre-push]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: requirements-txt-fixer
  - id: trailing-whitespace
    exclude: "/resources/upstream\\.ya?ml$"

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.38.0
  hooks:
  - id: yamllint
    args: [--strict]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args: [--severity=error]
    exclude: ^.git
    files: "\\.sh$"

- repo: local
  hooks:
  - id: make-build
    name: make build
    language: system
    entry: make build
    stages: [pre-commit]

  - id: render-charts
    name: render helm charts
    language: script
    entry: tests/render-charts.sh
    pass_filenames: true
    files: "/upstream/Chart\\.ya?ml$"
    stages: [pre-commit]

  - id: build-kustomizations
    name: build kustomization files
    language: script
    entry: tests/build-kustomizations.sh
    pass_filenames: true
    files: "kustomization\\.yaml$"
    stages: [pre-commit]

  - id: validate-manifests
    name: validate kubernetes manifests
    language: script
    entry: tests/validate-manifests.sh
    pass_filenames: true
    files: "(apps|defs|bootstrap)/.+\\.ya?ml$"
    stages: [pre-commit]

# - id: prepush
#   name: pre-push actions
#   language: system
#   entry: make prepush
#   stages: [pre-push]

Revert "Honor labels from netdata endpoints"
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Remove sum and average scrape jobs for netdata
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Reduce scrape interval for netdata job from 30s -> 5s
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Add recording rule for maximum available disk space on artemis pool
  apps/prometheus/resources/prometheusrule.yaml
Due: validate-manifests

Add recording rule for netdata cpu usage
  apps/prometheus/resources/prometheusrule.yaml
Due: validate-manifests

Add ceph manager prometheus scrape configuration
  apps/prometheus/resources/ceph-mgr-endpoints.yaml
  apps/prometheus/resources/ceph-mgr-svc-mon.yaml
  apps/prometheus/resources/ceph-mgr-svc.yaml
Due: validate-manifests

Include endpoint slices
  bootstrap/argo-cd/kustomization.yaml
Due: build-kustomizations, validate-manifests

Track base applications with root application
  defs/argo-cd.yaml
  defs/cluster-resources.yaml
  defs/root.yaml
Due: validate-manifests

Add ceph manager prometheus scrape configuration
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Add ceph alerts from a rook config
  apps/prometheus/kustomization.yaml
  apps/prometheus/resources/ceph-rules.yaml
Due: build-kustomizations, validate-manifests

Update readme according to altered installation
  README.md
Due: none

Apply markdown formatting to readme
  README.md
Due: none

Migrate to multi-source applications with self-hosted repository Note that the last source takes priority for shared resources
  defs/argo-cd.yaml
  defs/ceph-csi-rbd.yaml
  defs/cert-manager.yaml
  defs/cloudnative-pg.yaml
  defs/cluster-resources.yaml
  defs/contour.yaml
  defs/ddns.yaml
  defs/descheduler.yaml
  defs/gitea.yaml
  defs/home-assistant.yaml
  defs/influxdb.yaml
  defs/metrics-server.yaml
  defs/mirror.yaml
  defs/navidrome.yaml
  defs/plex.yaml
  defs/prometheus.yaml
  defs/prowlarr.yaml
  defs/radarr.yaml
  defs/reloader.yaml
  defs/root.yaml
  defs/sonarr.yaml
  defs/tautulli.yaml
  defs/tdarr.yaml
  defs/teamspeak.yaml
  defs/valkey.yaml
  defs/vaultwarden.yaml
  defs/webdav.yaml
Due: validate-manifests

ada9a2b addendum 1: Remove cpu limits Enable ssa via per-resource annotation on sts workloads to establish ownership of resource key, allowing reconciliation of untracked dependent resource limits.
  apps/contour/resources/upstream.yaml
  apps/contour/upstream/values.yaml
  apps/prowlarr/statefulset.yaml
  apps/valkey/kustomization.yaml
  apps/valkey/resources/upstream.yaml
  apps/valkey/upstream/values.yaml
  apps/vaultwarden/statefulset.yaml
Due: build-kustomizations, validate-manifests

Track alt repository application
  defs/alt.yaml
Due: validate-manifests

Add schema for clusterissuer
  apps/cert-manager/resources/issuer.yaml
Due: validate-manifests

Update gitea and prepare to track latest
  apps/gitea/kustomization.yaml
  apps/gitea/resources/gitea-app-ini.yaml
  apps/gitea/resources/robots-txt.yaml
  apps/gitea/resources/robots.txt
  apps/gitea/resources/upstream.yaml
  apps/gitea/upstream/values.yaml
Due: build-kustomizations, validate-manifests

Add recording rule for 20s disk io sum
  apps/prometheus/resources/prometheusrule.yaml
Due: validate-manifests

Align scrape/evaluation intervals between metrics
  apps/prometheus/resources/prometheusrule.yaml
  apps/prometheus/resources/upstream.yaml
  apps/prometheus/upstream/values.yaml
Due: validate-manifests

Add victoria-logs
  apps/victoria-logs/BUILDARGS
  apps/victoria-logs/kustomization.yaml
  apps/victoria-logs/resources/upstream.yaml
  apps/victoria-logs/upstream/.gitignore
  apps/victoria-logs/upstream/Chart.yaml
  apps/victoria-logs/upstream/values.yaml
  defs/victoria-logs.yaml
Due: render-charts, build-kustomizations, validate-manifests

Add fluent-bit
  apps/fluent-bit/BUILDARGS
  apps/fluent-bit/kustomization.yaml
  apps/fluent-bit/resources/upstream.yaml
  apps/fluent-bit/upstream/.gitignore
  apps/fluent-bit/upstream/Chart.yaml
  apps/fluent-bit/upstream/values.yaml
  defs/fluent-bit.yaml
Due: render-charts, build-kustomizations, validate-manifests

Add explicit system timezone configuration for fluent-bit logs
  apps/fluent-bit/kustomization.yaml
Due: build-kustomizations, validate-manifests

Add memos
  apps/memos/cert.yaml
  apps/memos/delegation.yaml
  apps/memos/httpproxy.yaml
  apps/memos/service.yaml
  apps/memos/statefulset.yaml
  defs/memos.yaml
Due: validate-manifests

Revert "Remove rustfs"
  apps/rustfs/BUILDARGS
  apps/rustfs/kustomization.yaml
  apps/rustfs/resources/certificate.yaml
  apps/rustfs/resources/delegation.yaml
  apps/rustfs/resources/httpproxy.yaml
  apps/rustfs/resources/upstream.yaml
  apps/rustfs/upstream/.gitignore
  apps/rustfs/upstream/Chart.yaml
  apps/rustfs/upstream/values.yaml
  defs/rustfs.yaml
Due: render-charts, build-kustomizations, validate-manifests

Reduce rustfs log volume size and adjust rustfs log rotation This aims to reduce or eliminate filling up alerts
  apps/rustfs/resources/upstream.yaml
  apps/rustfs/upstream/values.yaml
Due: validate-manifests

Update rustfs chart to 0.0.93 and apply kustomize image pinning
  apps/rustfs/kustomization.yaml
  apps/rustfs/overlays/image.yaml
  apps/rustfs/overlays/test-image.yaml
  apps/rustfs/resources/upstream.yaml
  apps/rustfs/upstream/Chart.yaml
Due: render-charts, build-kustomizations, validate-manifests

Add container io 1m rate sum by namespace recording rule
  apps/prometheus/resources/prometheusrule.yaml
Due: validate-manifests

Add autobrr
  apps/autobrr/certificate.yaml
  apps/autobrr/delegation.yaml
  apps/autobrr/httpproxy.yaml
  apps/autobrr/service.yaml
  apps/autobrr/statefulset.yaml
  defs/autobrr.yaml
Due: validate-manifests

Also configure autobrr metrics
  apps/autobrr/service.yaml
  apps/autobrr/servicemonitor.yaml
Due: validate-manifests

Fix autobrr sts labels
  apps/autobrr/statefulset.yaml
Due: validate-manifests

Autobrr: final adjustments
  apps/autobrr/statefulset.yaml
Due: validate-manifests

Fix SSA diffing for volumeclaimtemplate
  apps/autobrr/statefulset.yaml
Due: validate-manifests

Fix container resource applied at pod spec level autobrr
  apps/autobrr/statefulset.yaml
Due: validate-manifests

Allow writes to some root dirs for autobrr
  apps/autobrr/statefulset.yaml
Due: validate-manifests

Remove nfs mount for autobrr
  apps/autobrr/statefulset.yaml
Due: validate-manifests

Use info loglevel for autobrr
  apps/autobrr/statefulset.yaml
Due: validate-manifests

Add qui
  apps/qui/certificate.yaml
  apps/qui/delegation.yaml
  apps/qui/httpproxy.yaml
  apps/qui/service.yaml
  apps/qui/servicemonitor.yaml
  apps/qui/statefulset.yaml
  defs/qui.yaml
Due: validate-manifests

Give qui sts access to nas1 media
  apps/qui/statefulset.yaml
Due: validate-manifests

Increase radarr and sonarr memory limits
  apps/radarr/statefulset.yaml
  apps/sonarr/statefulset.yaml
Due: validate-manifests

Specify generator options for grafana dashboard config maps individually
  apps/prometheus/kustomization.yaml
Due: build-kustomizations, validate-manifests
