Repository JosBritton/cd: changes, and which pre-commit hooks are due for each by the changed paths.
All: render-charts, build-kustomizations, validate-manifests

render-charts:
  name: render helm charts
  language: script
  entry: tests/render-charts.sh
  pass_filenames: true
  stages:
  - pre-commit

build-kustomizations:
  name: build kustomization files
  language: script
  entry: tests/build-kustomizations.sh
  pass_filenames: true
  stages:
  - pre-commit

validate-manifests:
  name: validate kubernetes manifests
  language: script
  entry: tests/validate-manifests.sh
  pass_filenames: true
  stages:
  - pre-commit

Use emptydir for cache volume in navidrome
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Use server-side apply on argo cd for navidrome statefulset
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Disable navidrome webp encoding
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Disable navidrome image caching
  apps/navidrome/resources/navidrome.toml
Due: none

Navidrome remove album directory search for artist images
  apps/navidrome/resources/navidrome.toml
Due: none

Remove rustfs log volume (fix constant KubePersistentVolumeFillingUp) Logs were/are already sent to stdout
  apps/rustfs/resources/upstream.yaml
  apps/rustfs/upstream/values.yaml
Due: validate-manifests

Collect cluster ingress internal contour and envoy metrics
  apps/contour/kustomization.yaml
  apps/contour/resources/dashboards.yaml
  apps/contour/resources/upstream.yaml
  apps/contour/upstream/values.yaml
Due: build-kustomizations, validate-manifests

Remove defaultBackend value from contour Option was removed in chart fork
  apps/contour/upstream/values.yaml
Due: validate-manifests

Allow explicit octal values with yamllint
  .yamllint
Due: none

Remove rate netdata recording rules with < 40s windows
  apps/prometheus/resources/prometheusrule.yaml
Due: validate-manifests

Add rss-bridge user configuration file
  apps/rss/kustomization.yaml
  apps/rss/resources/rss-bridge-config.yaml
  apps/rss/resources/rss-bridge-statefulset.yaml
Due: build-kustomizations, validate-manifests

Prevent renovate from perpetually blocking updates for bad registries
  .github/renovate.json5
Due: none

Prevent uncoordinated reloader from pending checks
  .github/renovate.json5
Due: none

Migrate valkey chart from bitnami to valkey.io
  apps/valkey/resources/upstream.yaml
  apps/valkey/upstream/Chart.yaml
  apps/valkey/upstream/values.yaml
Due: render-charts, validate-manifests

Pin valkey images
  apps/valkey/kustomization.yaml
  apps/valkey/overlays/image.yaml
Due: build-kustomizations, validate-manifests

Add ns
  Makefile
  scripts/process-ns.in
Due: none

Set metadata.namespace on namespaced templated resources with build Passing template output through yq requires reformatting existing output
  .github/renovate/entrypoint
  Makefile
  apps/ceph-csi-rbd/resources/upstream.yaml
  apps/cert-manager/resources/upstream.yaml
  apps/cloudnative-pg/resources/upstream.yaml
  apps/contour/resources/upstream.yaml
  apps/descheduler/resources/upstream.yaml
  apps/fluent-bit/resources/upstream.yaml
  apps/gitea/resources/upstream.yaml
  apps/influxdb/resources/upstream.yaml
  apps/metrics-server/resources/upstream.yaml
  apps/prometheus/resources/upstream.yaml
  apps/rustfs/resources/upstream.yaml
  apps/valkey/resources/upstream.yaml
  apps/victoria-logs/resources/upstream.yaml
  scripts/process-ns.in
Due: validate-manifests

Set metadata.namespace on namespaced templated resources with build Passing template output through yq requires reformatting existing output
  .github/renovate/entrypoint
  Makefile
  apps/ceph-csi-rbd/resources/upstream.yaml
  apps/cert-manager/resources/upstream.yaml
  apps/cloudnative-pg/resources/upstream.yaml
  apps/contour/resources/upstream.yaml
  apps/descheduler/resources/upstream.yaml
  apps/fluent-bit/resources/upstream.yaml
  apps/gitea/resources/upstream.yaml
  apps/influxdb/resources/upstream.yaml
  apps/metrics-server/resources/upstream.yaml
  apps/prometheus/resources/upstream.yaml
  apps/rustfs/resources/upstream.yaml
  apps/valkey/resources/upstream.yaml
  apps/victoria-logs/resources/upstream.yaml
  inventoryns
  scripts/process-ns.in
Due: validate-manifests

Fix valkey statefulset ssa incongruence
  apps/valkey/kustomization.yaml
Due: build-kustomizations, validate-manifests

Remove tdarr
  .github/renovate.json5
  apps/tdarr/cert.yaml
  apps/tdarr/cron.yaml
  apps/tdarr/daemonset.yaml
  apps/tdarr/delegation.yaml
  apps/tdarr/httpproxy.yaml
  apps/tdarr/rbac.yaml
  apps/tdarr/service.yaml
  apps/tdarr/statefulset.yaml
  defs/tdarr.yaml
Due: validate-manifests

Update image ghcr.io/renovatebot/renovate to v43.253.0
  .github/workflows/renovate.yaml
Due: none

Remove graphite-exporter
  apps/prometheus/files/graphite_mapping.conf
  apps/prometheus/kustomization.yaml
  apps/prometheus/resources/graphite-exporter-deployment.yaml
  apps/prometheus/resources/graphite-svc-mon.yaml
  apps/prometheus/resources/graphite-svc.yaml
Due: build-kustomizations, validate-manifests

Apply negative sync-wave annotation to CRDs
  apps/cert-manager/kustomization.yaml
  apps/cloudnative-pg/kustomization.yaml
  apps/contour/kustomization.yaml
  apps/prometheus/kustomization.yaml
Due: build-kustomizations, validate-manifests

Limit postgres workload scheduling
  apps/cloudnative-pg/resources/cluster16.yaml
Due: validate-manifests

Add hibernation state to cluster declaration to allow reconciliation
  apps/cloudnative-pg/resources/cluster16.yaml
Due: validate-manifests

Double postgres database size
  apps/cloudnative-pg/resources/cluster16.yaml
Due: validate-manifests

Add feed image override custom bridge to rss-bridge
  apps/rss/kustomization.yaml
  apps/rss/resources/rss-bridge-app-php.yaml
  apps/rss/resources/rss-bridge-config.yaml
  apps/rss/resources/rss-bridge-statefulset.yaml
Due: build-kustomizations, validate-manifests

Enable and configure adaptive rss feed polling scheduler in miniflux
  apps/rss/resources/deployment.yaml
Due: validate-manifests

Increase miniflux http client timeout
  apps/rss/resources/deployment.yaml
Due: validate-manifests

Increase rss-bridge http client error tolerance thresholds
  apps/rss/resources/rss-bridge-app-php.yaml
Due: validate-manifests

Enable rss-bridge custom cache timeout
  apps/rss/resources/rss-bridge-app-php.yaml
Due: validate-manifests

Path conditions:
  render-charts: any of: /upstream/Chart\.ya?ml$
  build-kustomizations: any of: kustomization\.yaml$
  validate-manifests: any of: (apps|defs|bootstrap)/.+\.ya?ml$
