Repository JosBritton/cd: changes, and which pre-commit hooks are due for each by the changed paths.
All: render-charts, build-kustomizations, validate-manifests

render-charts:
  name: render helm charts
  language: script
  entry: tests/render-charts.sh
  pass_filenames: true
  stages:
  - pre-commit

build-kustomizations:
  name: build kustomization files
  language: script
  entry: tests/build-kustomizations.sh
  pass_filenames: true
  stages:
  - pre-commit

validate-manifests:
  name: validate kubernetes manifests
  language: script
  entry: tests/validate-manifests.sh
  pass_filenames: true
  stages:
  - pre-commit

Configure scanning in navidrome
  apps/navidrome/resources/navidrome.toml
Due: none

Configure caching in navidrome
  apps/navidrome/resources/navidrome.toml
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Adjust navidrome config
  apps/navidrome/resources/navidrome.toml
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Include participant albums for artists in navidrome
  apps/navidrome/resources/navidrome.toml
Due: none

Remove plex music dir mount
  apps/plex/resources/statefulset.yaml
Due: validate-manifests

Remove jellyfin
  apps/jellyfin/cert.yaml
  apps/jellyfin/delegation.yaml
  apps/jellyfin/httpproxy.yaml
  apps/jellyfin/service.yaml
  apps/jellyfin/statefulset.yaml
  defs/jellyfin.yaml
Due: validate-manifests

Remove dashboard
  apps/dashboard/BUILDARGS
  apps/dashboard/kustomization.yaml
  apps/dashboard/overlays/kubernetes-dashboard-csrf.yaml
  apps/dashboard/resources/cert.yaml
  apps/dashboard/resources/clusterrolebinding.yaml
  apps/dashboard/resources/delegation.yaml
  apps/dashboard/resources/httpproxy.yaml
  apps/dashboard/resources/secret.yaml
  apps/dashboard/resources/serviceaccount.yaml
  apps/dashboard/resources/upstream.yaml
  apps/dashboard/upstream/.gitignore
  apps/dashboard/upstream/Chart.yaml
  apps/dashboard/upstream/values.yaml
  defs/dashboard.yaml
Due: render-charts, build-kustomizations, validate-manifests

Migrate to home-operations home assistant image
  apps/home-assistant/statefulset.yaml
Due: validate-manifests

Set persistent session timeout config for navidrome
  apps/navidrome/resources/navidrome.toml
Due: none

Use default values for cache sizing in navidrome
  apps/navidrome/resources/navidrome.toml
Due: none

Revert "Remove jellyfin"
  apps/jellyfin/cert.yaml
  apps/jellyfin/delegation.yaml
  apps/jellyfin/httpproxy.yaml
  apps/jellyfin/service.yaml
  apps/jellyfin/statefulset.yaml
  defs/jellyfin.yaml
Due: validate-manifests

Use multi-replica sonarr statefulset, alt-name: sonalt
  apps/sonarr/cert.yaml
  apps/sonarr/delegation.yaml
  apps/sonarr/httpproxy.yaml
  apps/sonarr/service.yaml
  apps/sonarr/statefulset.yaml
Due: validate-manifests

Use multi-replica radarr statefulset, alt-name: radalt
  apps/radarr/cert.yaml
  apps/radarr/delegation.yaml
  apps/radarr/httpproxy.yaml
  apps/radarr/service.yaml
  apps/radarr/statefulset.yaml
Due: validate-manifests

Add ddns script
  apps/ddns/cron.yaml
  defs/ddns.yaml
Due: validate-manifests

Increase CPU commitments for arr containers
  apps/radarr/statefulset.yaml
  apps/sonarr/statefulset.yaml
Due: validate-manifests

Delete overseerr
  apps/overseerr/cert.yaml
  apps/overseerr/delegation.yaml
  apps/overseerr/httpproxy.yaml
  apps/overseerr/route.yaml
  apps/overseerr/service.yaml
  apps/overseerr/statefulset.yaml
  defs/overseerr.yaml
Due: validate-manifests

Remove reverse proxy config for Plex, attach to cert-manager namespace
  apps/plex/cert.yaml
  apps/plex/files/envoy.yaml
  apps/plex/kustomization.yaml
  apps/plex/resources/delegation.yaml
  apps/plex/resources/deployment.yaml
  apps/plex/resources/httpproxy.yaml
  apps/plex/resources/service.yaml
  apps/plex/service.yaml
  apps/plex/serviceaccount.yaml
  apps/plex/statefulset.yaml
  defs/plex.yaml
Due: build-kustomizations, validate-manifests

Use non-standard service port for plex
  apps/plex/service.yaml
Due: validate-manifests

Update plex image
  apps/plex/statefulset.yaml
Due: validate-manifests

Remove influxdb
  apps/influxdb/BUILDARGS
  apps/influxdb/README.md
  apps/influxdb/kustomization.yaml
  apps/influxdb/resources/cert.yaml
  apps/influxdb/resources/delegation.yaml
  apps/influxdb/resources/httpproxy.yaml
  apps/influxdb/resources/upstream.yaml
  apps/influxdb/upstream/.gitignore
  apps/influxdb/upstream/Chart.yaml
  apps/influxdb/upstream/values.yaml
  defs/influxdb.yaml
Due: render-charts, build-kustomizations, validate-manifests

Remove private endpoint plex certificate
  apps/plex/cert.yaml
Due: validate-manifests

Adjust plex entrypoint
  apps/plex/statefulset.yaml
Due: validate-manifests

Add basic teamspeak6 server deployment
  apps/teamspeak/delegation.yaml
  apps/teamspeak/service.yaml
  apps/teamspeak/statefulset.yaml
  defs/teamspeak.yaml
Due: validate-manifests

Enable serverside apply on argo-cd application
  bootstrap/argo-cd.yaml
Due: validate-manifests

Update navidrome with 5054 PR
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Increase upstream timeout to 10 minutes for radarr and sonarr httpproxy
  apps/radarr/httpproxy.yaml
  apps/sonarr/httpproxy.yaml
Due: validate-manifests

Increase sonarr resource allocations In accordance with System.OutOfMemoryException recieved during runtime.
  apps/sonarr/statefulset.yaml
Due: validate-manifests

Increase storage limit for plex workload
  apps/plex/statefulset.yaml
Due: validate-manifests

Update httpd (track latest)
  apps/webdav/statefulset.yaml
Due: validate-manifests

Update navidrome to latest development build
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Lower navidrome web-UI search query debounce time
  apps/navidrome/resources/navidrome.toml
Due: none

Configure health probes for navidrome using author recommended endpoint
  apps/navidrome/resources/statefulset.yaml
Due: validate-manifests

Disable response timeout on navidrome sse endpoint according to docs
  apps/navidrome/resources/httpproxy.yaml
Due: validate-manifests

Disable overly long response timeout on argo streaming route
  bootstrap/argo-cd/resources/httpproxy.yaml
Due: validate-manifests

Add 7 day cooldown to renovate
  .github/renovate.json5
Due: none

Add third sonarr replica - sonref
  apps/sonarr/cert.yaml
  apps/sonarr/delegation.yaml
  apps/sonarr/httpproxy.yaml
  apps/sonarr/service.yaml
  apps/sonarr/statefulset.yaml
Due: validate-manifests

Add reference mount to plex workload
  apps/plex/statefulset.yaml
Due: validate-manifests

Disable grafana websocket timeout - streaming response
  apps/prometheus/resources/httpproxy.yaml
Due: validate-manifests

Add standalone rustfs (s3 compatible object store)
  apps/rustfs/BUILDARGS
  apps/rustfs/kustomization.yaml
  apps/rustfs/resources/certificate.yaml
  apps/rustfs/resources/delegation.yaml
  apps/rustfs/resources/httpproxy.yaml
  apps/rustfs/resources/upstream.yaml
  apps/rustfs/upstream/.gitignore
  apps/rustfs/upstream/Chart.yaml
  apps/rustfs/upstream/values.yaml
  defs/rustfs.yaml
Due: render-charts, build-kustomizations, validate-manifests

Increase s3 volume allocation
  apps/rustfs/resources/upstream.yaml
  apps/rustfs/upstream/values.yaml
Due: validate-manifests

Path conditions:
  render-charts: any of: /upstream/Chart\.ya?ml$
  build-kustomizations: any of: kustomization\.yaml$
  validate-manifests: any of: (apps|defs|bootstrap)/.+\.ya?ml$
